@font-face {
  font-family: "Poppins";
  src: url("../../../public/assets/fonts/Poppins-Regular.ttf")
      format("truetype"),
    url("../../../public/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
