@import url("./variables.css");
@import url("./font.css");
@import url("./components/comman-button.css");
@import url("./components/carousel.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* wrapper start */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* wrapper end */

/* comman background and text class start */
.background-pimary {
  background-color: var(--primary-color);
}
.background-secondary {
  background-color: var(--secondary-color);
}
.textcolor-pimary {
  color: var(--primary-color);
}
.textcolor-secondary {
  color: var(--secondary-color);
}
/* comman background and text class end */

/* header start */
.header {
  background-color: rgba(7, 7, 7, 0.6);
  z-index: 1000;
}
menu li a {
  padding: 45px 0;
}
.menu li a,
.menu-option ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}
.menu li a:hover,
.menu-option ul li a:hover {
  color: var(--secondary-hovered-color);
}
.fa-bars {
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.fa-xmark {
  font-size: 35px;
  color: white;
  cursor: pointer;
}
.menu-option {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 50px;
  margin: 0;
  height: auto;
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: var(--primary-hovered-color);
  color: white;
  transition: right 0.7s ease-in-out;
}
/* header end */

/* hero section start*/
.hero-section {
  height: auto;
}
.hero-one {
  height: 100vh;
}

.line-container {
  padding: 0 8%;
}

.line {
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  top: var(--random-top, 10%);
  width: inherit;
  height: 8%;
  background: linear-gradient(
    to bottom,
    rgba(255, 194, 0, 0.1),
    rgba(255, 194, 0, 1),
    rgba(255, 194, 0, 0.1)
  );
}

.arrow {
  transform: rotate(-1deg);
}

.user-image {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
/* hero section end*/

/* marquee section start */
/* Marquee Container */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #000;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 60px;
}

/* carfting section start */
/* carfting section end */

/* Marquee Content */
.marquee-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content {
  display: flex;
  animation: scroll 35s linear infinite;
}
.marquee-item {
  margin-right: 40px;
}
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 640px) {
  .star-img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .star-img {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 1024px) {
  .star-img {
    width: 50px;
    height: 50px;
  }
}
/* marquee section end */
