@import url("./variables.css");
@import url("./font.css");
@import url("./components/comman-button.css");
@import url("./components/carousel.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* wrapper start */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* wrapper end */

/* comman background and text class start */
.background-pimary {
  background-color: var(--primary-color);
}
.background-secondary {
  background-color: var(--secondary-color);
}
.textcolor-pimary {
  color: var(--primary-color);
}
.textcolor-secondary {
  color: var(--secondary-color);
}
.text-justify{
  text-align: justify;
}
/* comman background and text class end */

/* header start */
.header {
  background-color: rgba(7, 7, 7, 0.6);
  z-index: 1000;
}
menu li a {
  padding: 45px 0;
}
.menu li a,
.menu-option ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}
.menu li a:hover,
.menu-option ul li a:hover {
  color: var(--secondary-hovered-color);
}
.fa-bars {
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.fa-xmark {
  font-size: 35px;
  color: white;
  cursor: pointer;
}
.menu-option {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 50px;
  margin: 0;
  height: auto;
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: var(--primary-hovered-color);
  color: white;
  transition: right 0.7s ease-in-out;
}
/* header end */

/* hero section start*/
.hero-section {
  height: auto;
}
.hero-one {
  height: auto;
}

.line-container {
  padding: 0 8%;
}

.line {
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  top: var(--random-top, 10%);
  width: inherit;
  height: 8%;
  background: linear-gradient(
    to bottom,
    rgba(255, 194, 0, 0.1),
    rgba(255, 194, 0, 1),
    rgba(255, 194, 0, 0.1)
  );
}

.arrow {
  transform: rotate(-1deg);
}

.user-image {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
/* hero section end*/


/*=========Start Marquee Animation================*/
.marquee_animation {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: var(--primary-color);
  padding: 20px 0;
  direction: ltr;
}

.marquee_animation .text-slide {
  --gap: 0.1px;
  display: flex;
  gap: 0.1px;
}

.scroll {
  animation: scroll 70s linear infinite;
}

.sliders {
  flex-shrink: 0;
}

.text-slide ul {
  padding: 0;
  margin: 0;
}

.text-slide ul li {
  display: inline-block;
}

.text-slide ul li div {
  color: #fff;

  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
}

.text-slide ul li span {
  margin: 0 40px;
  color: var(--text-white);
  opacity: 0.5;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/*End Marquee Animation*/
@media (max-width: 668px){
  .hero-one {
    height: 100vh;
  }
}

@media (max-width: 992px){
  .hero-one {
    height: 60vh;
  }
}





























/* marquee section start */
/* Marquee Container */
/* .marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #000;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 60px;
} */

/* carfting section start */
/* carfting section end */

/* Marquee Content */
/* .marquee-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content {
  display: flex;
  animation: scroll 35s linear infinite;
}
.marquee-item {
  margin-right: 40px;
}
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 640px) {
  .star-img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .star-img {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 1024px) {
  .star-img {
    width: 50px;
    height: 50px;
  }
} */
/* marquee section end */
